## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Saldanha,-33.0117,17.9442,51.85,72,0,15.46,ZA,2022-04-23 06:40:10,clear sky
1,1,Koslan,63.4564,48.8989,34.59,99,100,3.00,RU,2022-04-23 06:40:11,light snow
2,2,Avarua,-21.2078,-159.7750,78.85,78,75,17.27,CK,2022-04-23 06:40:11,broken clouds
3,3,Rikitea,-23.1203,-134.9692,74.41,77,100,4.65,PF,2022-04-23 06:40:11,moderate rain
4,4,Bredasdorp,-34.5322,20.0403,59.56,60,22,5.28,ZA,2022-04-23 06:37:45,few clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
2,2,Avarua,-21.2078,-159.7750,78.85,78,75,17.27,CK,2022-04-23 06:40:11,broken clouds
6,6,Faanui,-16.4833,-151.7500,79.56,76,26,5.88,PF,2022-04-23 06:40:13,light rain
10,10,Hilo,19.7297,-155.0900,75.27,88,75,4.61,US,2022-04-23 06:40:14,broken clouds
11,11,Mahebourg,-20.4081,57.7000,81.25,61,40,14.97,MU,2022-04-23 06:40:14,scattered clouds
15,15,San Patricio,28.0170,-97.5169,75.29,88,33,18.48,US,2022-04-23 06:40:16,scattered clouds
35,35,Sauteurs,12.2167,-61.6333,77.59,71,99,14.05,GD,2022-04-23 06:40:24,overcast clouds
40,40,Samarai,-10.6167,150.6667,83.73,75,85,11.21,PG,2022-04-23 06:40:26,overcast clouds
41,41,Cockburn Town,21.4612,-71.1419,76.46,76,100,19.51,TC,2022-04-23 06:40:26,overcast clouds
43,43,Hasaki,35.7333,140.8333,75.60,71,82,9.84,JP,2022-04-23 06:40:27,broken clouds
45,45,Yulara,-25.2406,130.9889,78.64,24,100,14.97,AU,2022-04-23 06:40:28,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Date                   0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
2,2,Avarua,-21.2078,-159.7750,78.85,78,75,17.27,CK,2022-04-23 06:40:11,broken clouds
6,6,Faanui,-16.4833,-151.7500,79.56,76,26,5.88,PF,2022-04-23 06:40:13,light rain
10,10,Hilo,19.7297,-155.0900,75.27,88,75,4.61,US,2022-04-23 06:40:14,broken clouds
11,11,Mahebourg,-20.4081,57.7000,81.25,61,40,14.97,MU,2022-04-23 06:40:14,scattered clouds
15,15,San Patricio,28.0170,-97.5169,75.29,88,33,18.48,US,2022-04-23 06:40:16,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
661,661,Madang,-5.2246,145.7966,80.08,80,100,0.85,PG,2022-04-23 06:59:40,overcast clouds
669,669,Guangyuan,32.4420,105.8230,82.13,46,100,7.43,CN,2022-04-23 06:59:43,overcast clouds
674,674,Dhidhdhoo,6.8833,73.1000,84.25,72,79,9.06,MV,2022-04-23 06:59:45,broken clouds
675,675,Chabahar,25.2919,60.6430,84.47,64,100,12.39,IR,2022-04-23 06:59:46,overcast clouds
678,678,Belmonte,-15.8631,-38.8828,75.49,88,93,3.44,BR,2022-04-23 06:59:47,overcast clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Avarua,CK,78.85,broken clouds,-21.2078,-159.7750,
6,Faanui,PF,79.56,light rain,-16.4833,-151.7500,
10,Hilo,US,75.27,broken clouds,19.7297,-155.0900,
11,Mahebourg,MU,81.25,scattered clouds,-20.4081,57.7000,
15,San Patricio,US,75.29,scattered clouds,28.0170,-97.5169,
35,Sauteurs,GD,77.59,overcast clouds,12.2167,-61.6333,
40,Samarai,PG,83.73,overcast clouds,-10.6167,150.6667,
41,Cockburn Town,TC,76.46,overcast clouds,21.4612,-71.1419,
43,Hasaki,JP,75.60,broken clouds,35.7333,140.8333,
45,Yulara,AU,78.64,overcast clouds,-25.2406,130.9889,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()  
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!="")]
clean_hotel_df.head()

Empty DataFrame
Columns: [City, Country, Max Temp, Current Description, Lat, Lng, Hotel Name]
Index: []

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))